backend/node_modules/ 
bank-automat/build/ 
bank-automat/*.user
PIN_DLL/*.user
PIN_DLL/build/
RFID_DLL/*.user
RFID_DLL/build/
rfidEXE/
userWindow/*.user
userWindow/build/
Withdraw/*.user
Withdraw/build/
Deposit/*.user
Deposit/build/
transactionsWindow/*.user
transactionsWindow/build/
amountInput/*.user
amountInput/build/
transferReceiver/*.user
transferReceiver/build/
balanceScreen/*.user
balanceScreen/build/
creditWithdraw/build/
creditWithdraw/*.user
creditPayment/build/
creditPayment/*.user
package-lock.json
.env